@import '../src/assets/styles/forms.css';
@import '../src/assets/styles/quantity.css';

/*========== Cart Page Layout ==========*/
.cart-page__layout {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-40);
    margin-bottom: var(--spacing-80);
}

.cart-page__content {
    display: flex;
    gap: var(--spacing-24);
    flex-direction: column;
    flex: 1.8;
}

.cart-page__summary {
    flex: 1;
    height: fit-content
}

/*========== Summary ==========*/

.summary__item {
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--spacing-8);
    font-size: var(--font-size-paragraph-small)
}

.discount {
    color: var(--color-blue-500);
    padding-bottom: var(--spacing-8);
}

.summary__item--total {
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-h4);
    border-top: 1px solid var(--color-black-50);
    padding-top: var(--spacing-16);
    margin-bottom: var(--spacing-24);
}

/*========== Cart Page Title and Subtitle ==========*/

.cart-page__title {
    margin-bottom: var(--spacing-8);
}

.cart-page__subtitle {
    margin-bottom: var(--spacing-24);
    font-size: 16px;
}

/*========== Cart Items ==========*/

.cart-page__item {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-8);
}

.cart-page__item--info {
    display: flex;
    gap: var(--spacing-16);
    align-items: center;
}

/*========== Image ==========*/

.cart-page__item--img {
    width: 100px;
    height: 100px;
    border-radius: 8px;
    overflow: hidden;
    flex-shrink: 0;
}

.cart-page__item--img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

/*========== Details ==========*/

.cart-page__item--details {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-4);
}


/*========== Tags ==========*/

.cart-page__item--tags {
    display: flex;
    gap: var(--spacing-4);
}

.tag--cart-page {
    padding: var(--spacing-4) 5.5px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: 1px solid var(--color-white-600);
    color: var(--color-white-900);
    background: var(--color-white-500);
    font-size: 10px;
    font-weight: var(--font-weight-semibold);
    width: fit-content;
}

/*========== Product name ==========*/

h4.cart-page__item--name {
    font-size: var(--font-size-h4);
    font-weight: var(--font-weight-semibold);
    margin-bottom: var(--spacing-16);
}

/*========== Price ==========*/

.cart-page__item--price,
.cart-page__item--price-regular {
    display: flex;
    gap: var(--spacing-8);
    font-size: var(--font-size-label-small);
    font-weight: var(--font-weight-bold);
}

.cart-page__item--price-discount {
    color: var(--color-blue-500);
}

.cart-page__item--price-old {
    text-decoration: line-through;
    color: var(--color-black-200);
}

/*========== Actions ==========*/

.cart-page__item--actions {
    display: flex;
    flex-direction: row;
    gap: 12px;
    margin-left: auto;
    align-items: center;
    justify-content: flex-end;
}

/*========== Remove button ==========*/

.cart-page__item--remove button{
    background: none;
    border: none;
    width: 20px;
    height: 20px;
    cursor: pointer;
    flex-shrink: 0;
    color: var(--color-feedback-error);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

.cart-page__item--remove button:hover {
    transform: scale(1.1);
}

.cart-page__item--remove button svg{
    width: 100%;
    height: 100%;
    display: block;
}

/*========== Payment Method ==========*/
.checkout-page__title {
    margin-bottom: var(--spacing-40);
}

.checkout__input-group--radio {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.checkout__input-group--radio label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-8);
    min-width: 130px;
    padding: 10px 20px;
    border-radius: var(--border-radius-medium);
    border: 1px solid var(--color-black-100);
    color: var(--color-blue-500);
    background: transparent;
    cursor: pointer;
    position: relative;
    transition: all 0.2s ease;
}

.checkout__input-group--radio input[type="radio"] {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.checkout__input-group--radio label:hover {
    box-shadow: var(--shadow);
    background: var(--color-light-blue-50);
    color: var(--color-blue-700);
}

.checkout__input-group--radio label.checked {
    border: 1px solid var(--color-black-800);
    background: var(--color-blue-500);
    color: var(--color-white-500);
}

.card-label svg {
    width: auto;
    height: 24px;
}

.pay-swift-label svg {
    width: auto;
    height: 25px;
}
    
.ntb-label svg {
    width: auto;
    height: 20px;
}

.checkout__payment-method-card-info {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-24);
    border-bottom: 1px solid var(--color-black-50);
    padding-bottom: var(--spacing-24);
}

/*========== Success ==========*/

.success__illustration {
    width: 170px;
    height: 170px;
    margin-bottom: var(--spacing-24);
}

.success-page__title {
    font-size: var(--font-size-h3);
    margin-bottom: var(--spacing-8);
}

.success-page__subtitle {
    font-size: var(--font-size-paragraph-small);
    margin-bottom: var(--spacing-56);
    font-family: var(--font-secondary);
}

.success-page__content {
    margin-bottom: var(--spacing-80);
    text-align: center;
}

.success-page__content.box {
    width: 475px;
}

.success-page_order-number {
    font-size: var(--font-size-paragraph-small);
    font-weight: var(--font-weight-bold);
}

.success-page__item-info {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-8);
    margin: var(--spacing-16) 0;
    border-top: 1px solid var(--color-black-50);
    padding-top: var(--spacing-16);
}

.success-page__info-item {
    display: flex;
    justify-content: space-between;
    font-size: var(--font-size-paragraph-small)
}

.success-page__info-item--total {
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-h4);
    border-top: 1px solid var(--color-black-50);
    padding-top: var(--spacing-16);
}

.success-page__actions {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-16);
    margin-top: var(--spacing-40);
}

.btn--track-order {
    flex: 1 1 0%;
}

.btn--track-order .track-order-svg {
    width: 24px;
    height: 24px;
}

/*========== Tablet ==========*/

@media (min-width: 768px) {

    /*========== Cart Items ==========*/
    .cart-page__content {
        gap: var(--spacing-24);
        flex-direction: column;
    }

    .cart-page__item {
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-between;
    }

    .cart-page__item--info {
        gap: var(--spacing-16);
        align-items: center;
    }

    /*========== Tags ==========*/
    .cart-page__item--tags {
        gap: var(--spacing-8);
    }

    /*========== Success ==========*/

    .success__illustration {
        width: 245px;
        height: 245px;
    }

    .success-page__actions {
        flex-direction: row;
    }

}

/*========== Desktop ==========*/

@media (min-width: 1200px) {
    /*========== Cart Page Layout ==========*/
    .cart-page__layout {
        flex-direction: row;
        gap: var(--spacing-24);
    }
  
}