@import '../src/assets/styles/forms.css';

html, body {
    overflow-x: hidden;
}

.login__form-container,
.signup__form-container {
    padding: var(--spacing-56) 0 var(--spacing-64);
}

.login__form-container .container,
.signup__form-container .container {
    max-width: 750px;
    margin: 0 auto;
}

.login__form-header,
.signup__form-header {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-8);
    margin-bottom: var(--spacing-40);
    text-align: center;
}

.login__form-header h1,
.signup__form-header h1 {
    white-space: nowrap;
}

.login__form-header p,
.signup__form-header p {
    font-size: var(--font-size-paragraph-small);
    color: var(--color-black-300);
}

#login-form,
#signup-form {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-16);
}

.form__container {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-16);
}

.form__group {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-8);
}

.form__group label {
    font-size: var(--input-font-size);
    color: var(--color-black-300);
    font-weight: var(--font-weight-medium);
    font-family: var(--font-primary);
}

.form__group input[type="email"],
.form__group input[type="password"],
.form__group input[type="text"] {
    padding: 16px 12px;
    border: 1px solid var(--color-black-100);
    border-radius: var(--border-radius-medium);
    background-color: var(--color-white-500);
    outline: none;
    width: 100%;
}

.form__group input[type="password"] {
    padding-right: 40px;
}

.form__group input[type="email"]::placeholder,
.form__group input[type="password"]::placeholder,
.form__group input[type="text"]::placeholder {
    color: var(--color-black-100);
    font-size: var(--input-font-size);
    font-weight: var(--font-weight-regular);
    transform: translateY(2px);
}

.form__group input[type="email"]:focus,
.form__group input[type="password"]:focus,
.form__group input[type="text"]:focus {
    border-color: var(--color-blue-500);
}

#view-icon,
#view-icon-create,
#view-icon-confirm {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
    cursor: pointer;
    color: var(--color-black-200);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
}

#view-icon svg,
#view-icon-create svg,
#view-icon-confirm svg {
    width: 100%;
    height: 100%;
}

.form__actions {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-48);
    text-align: center;
}

.form__not-registered {
    font-size: 16px;
}

.form__not-registered a {
    color: var(--color-blue-500);
    text-decoration-thickness: 10.5%;
    text-underline-offset: 17%;
    font-weight: var(--font-weight-semibold);
    text-decoration-skip-ink: none;
}

.form__terms-checkbox {
    display: flex;
    align-items: center;
    gap: var(--spacing-8);
    margin: 0 auto;
    padding-top: 18px;
}

.form__terms-checkbox span {
    font-weight: var(--font-weight-bold);
    font-size: 14px;
}

#login-background-shapes-1 {
    position: absolute;
    width: auto;
    height: 470px;
    bottom: -40px;
    left: -325px;
    z-index: -1;
    pointer-events: none;
    color: var(--color-blue-50);
}

#login-background-shapes-2 {
    position: absolute;
    width: auto;
    height: 235px;
    top: -90px;
    right: -320px;
    z-index: -1;
    pointer-events: none;
    color: var(--color-light-blue-200);
}

#login-background-shapes-3 {
    position: absolute;
    width: auto;
    height: 170px;
    bottom: 200px;
    left: -255px;
    z-index: -1;
    pointer-events: none;
    color: var(--color-light-blue-200);
}

#login-background-shapes-4 {
    position: absolute;
    width: auto;
    height: 535px;
    top: 55px;
    right: -320px;
    z-index: -1;
    pointer-events: none;
    color: var(--color-blue-50);
}

/*========== Profile ==========*/
.profile__title {
    margin-bottom: var(--spacing-24);
}

.profile__content {
    margin-bottom: var(--spacing-80);
    position: relative;
    max-width: 650px;
}

.profile__banner {
    margin-bottom: var(--spacing-64);
    border-radius: var(--border-radius-medium);
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.profile__name {
    font-weight: var(--font-weight-semibold);
    margin-bottom: var(--spacing-16);
}


.profile__info {
    margin-bottom: var(--spacing-24);
    font-size: var(--font-size-paragraph-small);
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.profile__avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: var(--color-blue-500);
    color: var(--color-white-500);
    border: solid 5px var(--color-white-500);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 46px;
    font-family: var(--font-secondary);
    font-weight: var(--font-weight-semibold);
    position: absolute;
    top: 90px;
    left: 50%;
    transform: translateX(-50%);
}

/*========== Tablet ==========*/

@media (min-width: 768px) {
    .login__form-container,
    .signup__form-container {
        padding: var(--spacing-64) 0 127px;
    }
}