.product__page {
    display: flex;
    flex-direction: column;
    margin-bottom: var(--spacing-56);
}

.product__image {
    width: 100%;
    height: 450px;
    object-fit: cover;
    border-radius: var(--border-radius-medium);
}

.product__overview {
    margin: var(--spacing-48) 0 var(--spacing-24) 0;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-8);
}

.product__overview h1 {
    font-size: var(--font-size-h1);
}

.product__pricing-rating {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-8);
}

.product__price-container,
.product__price--regular {
    font-size: var(--font-size-label-large);
    font-weight: var(--font-weight-bold);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--spacing-8);
}

.product__price--discounted {
    color: var(--color-blue-500);
    margin-right: var(--spacing-8);
}

.product__price {
    color: var(--color-black-300);
    text-decoration: line-through;
}

.product__price--regular {
    color: var(--color-black-500);
}

/*========== Product Rating ==========*/

.product__rating {
    font-size: var(--button-font-size-medium);
    font-weight: var(--font-weight-semibold);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--spacing-16);
}

.product__rating .star-rating {
    display: flex;
    align-items: center;
    line-height: 0;
    gap: var(--spacing-8);
}

.product__review-count {
    color: var(--color-black-300);
}

#fullStars, #halfStar, #emptyStar {
    width: 20px;
    height: 20px;
}

#fullStars {
    color: var(--color-yellow-500);
}

#halfStar {
    color: var(--color-yellow-500);
}

#emptyStar {
    color: var(--color-black-50);
}

.product__description {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-16);
    margin-bottom: var(--spacing-32);
}

.product__description h2 {
    font-size: var(--font-size-h4);
    font-weight: var(--font-weight-medium);
}

.product__description p {
    font-size: var(--font-size-paragraph-small);
}

.product__categories h2 {
    margin-bottom: var(--spacing-8);
    font-size: var(--font-size-h4);
    font-weight: var(--font-weight-medium)
}

.product__tags-container {
    display: flex;
    flex-direction: row;
    gap: var(--spacing-8);
}

.product__tag {
    padding: 2px var(--spacing-8);
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: 1px solid var(--color-purple-200);
    color: var(--color-purple-600);
    background: var(--color-purple-50);
    font-size: var(--tag-font-size-large);
    font-weight: var(--font-weight-semibold);
    width: fit-content;
}

.product__actions {
    margin: var(--spacing-56) 0;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-8);
    align-items: center;
}

.product__wishlist-share {
    display: flex;
    flex-direction: row;
    gap: var(--spacing-24);
    color: var(--color-blue-500);
    font-size: var(--tag-font-size-large);
    font-weight: var(--font-weight-semibold);
    border-top: 1px solid var(--color-black-50);
    padding-top: var(--spacing-16);
}

.product__wishlist-share svg {
    width: 24px;
    height: 24px;
    stroke-width: 1.5px;
}

.wishlist,
.share {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--spacing-4);
    padding-bottom: 3px;
    border-bottom: 1px solid var(--color-blue-500);
}

button.share {
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    color: inherit;
    padding-bottom: 3px;
    border-bottom: 1px solid var(--color-blue-500);
}

/*========== Product Reviews ==========*/

.product__review-list {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-24);
    margin: var(--spacing-32) 0 var(--spacing-48) 0;
}

.product__review-item {
    width: 100%;
}

.product__review-header {
    display: flex;
    flex-direction: row;
    gap: var(--spacing-16);
    margin-bottom: var(--spacing-16);
}

.product__review-avatar {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: var(--color-blue-500);
    color: var(--color-white-500);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: var(--font-weight-semibold);
    font-size: 14px;
    letter-spacing: 0.05em;
}

.product__review-author {
    font-size: var(--font-size-h5);
    font-weight: var(--font-weight-semibold);
}

.product__review-rating {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--spacing-16);
}

.product__review-rating .star-rating {
    display: flex;
    align-items: center;
    line-height: 0;
    gap: var(--spacing-8);
}

.reviews__review-count {
    color: var(--color-black-300);
    font-size: var(--button-font-size-medium);
    font-weight: var(--font-weight-semibold);
}
    
.product__review-comment {
    font-size: var(--font-size-paragraph-small);
}

/*========== Product Similar Products ==========*/
.product__similar-products {
    background: var(--color-light-blue-100);
}

.product__similar-products h2 {
    margin-bottom: var(--spacing-32);
}

.product__similar-padding {
    padding: var(--spacing-56) 0;
}

/*========== Product error ==========*/
.product__error {
    color: var(--color-feedback-error-text);
    font-size: var(--font-size-h4);
    text-align: center;
    margin: var(--spacing-48) 0;
}

/*========== Tablet ==========*/

@media (min-width: 768px) {
  .product__page {
        flex-direction: row;
        gap: var(--spacing-48);
    }

    .product__image-wrapper {
        flex: 0.9;
    }

    .product__details  {
        flex: 1.1;
    }

    /*========== Product Reviews ==========*/
    .product__review-list {
        margin: var(--spacing-32) 0 var(--spacing-80) 0;
    }

    .product__review-list {
        flex-direction: row;
        gap: var(--spacing-16);
    }

    .product__review-item:only-child {
        width: 50%;
    }

    /*========== Product Similar Products ==========*/

    .product__similar-padding {
        padding: var(--spacing-64) 0;
    }
}

/*========== Desktop ==========*/

@media (min-width: 1200px) {
    .product__page {
        margin-bottom: var(--spacing-96);
    }

    .product__image-wrapper {
        flex: 1;
    }

    .product__image {
        height: 600px;
    }

    .product__details  {
        flex: 1;
    }
    
    .product__pricing-rating {
        flex-direction: row;
        gap: auto;
        justify-content: space-between;
        align-items: center;
    }
  
}