/*========== Sizes ==========*/
.button {
  align-items: center;
  text-align: center;
  justify-content: center;
  text-decoration: none;
  cursor: pointer;
  border: none;
  border-radius: var(--border-radius-medium);
  display: inline-flex;
  gap: var(--spacing-8);
  font-family: var(--font-secondary);
  font-weight: var(--font-weight-medium);
  line-height: var(--spacing-24);
  transition: all 0.3s ease;
}

.button:hover {
  transform: scale(1.02);
}

.button--small {
  padding: var(--spacing-4) var(--spacing-16);
  font-size: var(--button-font-size-small);
}

.button--medium {
  padding: 6px var(--spacing-16);
  font-size: var(--button-font-size-medium);
}

.button--large {
  padding: 10px var(--spacing-16);
  font-size: var(--button-font-size-large);
}

.button--small svg,
.button--medium svg {
  width: 18px;
  height: 18px;
}

.button--large svg {
  width: 20px;
  height: 20px;
}

/*========== Full width ==========*/

.button--full-width {
  width: 100%;
  display: flex;
  justify-content: center;
}

/*========== Colors ==========*/

.button--primary {
  background: var(--color-blue-500);
  color: var(--color-white-500);
}

.button--primary:hover {
  background: var(--color-blue-700);
}

.button--secondary {
  background: var(--color-white-5);
  color: var(--color-blue-500);
  border: 1.5px solid var(--color-blue-500);
}

.button--secondary:hover {
  background: var(--color-blue-50);
}

/*========== Disabled ==========*/

.button--disabled {
  background: var(--color-black-50);
  color: var(--color-black-300);
  cursor: not-allowed;
  pointer-events: none;
}

/*========== Other buttons ==========*/

.button--cta {
  padding: 12px 24px;
  background: var(--color-beige-500);
  color: var(--color-black-500);
  border: none;
  border-radius: var(--border-radius-medium);
  font-size: var(--button-font-size-small);
  font-weight: var(--font-weight-semibold);
  cursor: pointer;
  display: inline-block;
  letter-spacing: 0.3px;
  transition: all 0.3s ease;
}

.button--cta:hover {
  background: var(--color-beige-600);
}

.button--clear-cart {
  border: none;
  border-bottom: 1px solid var(--color-feedback-error-text);
  padding-bottom: 3px;
  background: transparent;
  color: var(--color-feedback-error-text);
  font-size: var(--tag-font-size-large);
  font-weight: var(--font-weight-medium);
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: var(--spacing-8);
  width: fit-content;
  transition: all 0.3s ease;
  margin: 0 auto;
}

.button--clear-cart svg {
  width: 20px;
  height: 20px;
}

.button--clear-cart:hover {
  transform: scale(1.05);
}

/*========== Tablet ==========*/

@media (min-width: 768px) {
  .button--responsive {
    padding: 6px var(--spacing-16);
    font-size: var(--button-font-size-medium);
  }
  
  .button--responsive svg {
    width: 18px;
    height: 18px;
  }
  
  .button--responsive-medium {
    padding: 6px var(--spacing-16);
    font-size: var(--button-font-size-medium);
  }
}

/*========== Desktop ==========*/

@media (min-width: 1200px) {
  .button--responsive {
    padding: 10px var(--spacing-16);
    font-size: var(--button-font-size-large);
  }
  
  .button--responsive svg {
    width: 20px;
    height: 20px;
  }
}