/*========== Product card ==========*/
.product-card {
    padding: 12px;
    border-radius: 16px;
    background: var(--color-white-50);
    box-shadow: var(--shadow);
    display: flex;
    flex-direction: column;
    transition: all var(--transition-medium) cubic-bezier(0.215, 0.61, 0.355, 1);
}

/** 
 * Hover effect source and adaption from:
 * 10 Card Hover Effect Examples - 1) Animated Product Reveal
 * @publisher: Irvin Zhan
 * @date: N/A
 * link: https://www.subframe.com/tips/css-card-hover-effect-examples
*/

.product-card:hover {
    transform: translateY(-5px);
}

.product-card__image-wrapper {
    position: relative;
    width: 100%;
    overflow: hidden;
    border-radius: 8px;
    margin-bottom: var(--spacing-8);
}

.product-card__image-wrapper img {
    width: 100%;
    height: 125px;
    object-fit: cover;
    display: block;
}

.product-card__favorite-icon {
    position: absolute;
    top: 12px;
    right: 12px;
    width: 28px;
    height: 28px;
    background-color: var(--color-white-50);
    border-radius: 50%;
    cursor: pointer;
    transition: transform var(--transition-fast) ease;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-card__favorite-icon:hover {
    transform: scale(1.1);
}

.product-card__favorite-icon svg {
    width: 17.5px;
    height: 17.5px;
    stroke: var(--color-purple-500);
    stroke-width: 1.5;
    fill: none;
}

.product-card__tags {
    display: flex;
    gap: var(--spacing-4);
}

.tag {
    padding: var(--spacing-4) 5.5px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: 1px solid var(--color-white-600);
    color: var(--color-white-900);
    background: var(--color-white-500);
    font-size: var(--tag-font-size-small);
    font-weight: var(--font-weight-semibold);
    width: fit-content;
}

.product-card h3 {
    font-size: var(--font-size-h5);
}

.product-card__title {
    margin-top: var(--spacing-4);
}

.product-card__price,
.product-card__price--regular {
    display: flex;
    gap: var(--spacing-4);
    font-size: var(--font-size-label-small);
    font-weight: var(--font-weight-bold);
    margin: var(--spacing-8) 0;
}

.product-card__price--old {
    text-decoration: line-through;
    color: var(--color-black-300);
}

.product-card__price--discount {
    color: var(--color-blue-500);
}

.product-card .button {
    margin-top: auto;
}

.product__grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: var(--spacing-8);
}

/*========== Tablet ==========*/

@media (min-width: 768px) {

    /*========== Product card ==========*/
    .product-card__image-wrapper {
        margin-bottom: var(--spacing-16);
    }

    .product-card__image-wrapper img {
        height: 200px;
    }

    .product-card__favorite-icon {
        width: 36px;
        height: 36px;
    }

    .product-card__favorite-icon svg {
        width: 22px;
        height: 22px;
    }

    .product-card__tags {
        gap: var(--spacing-8);
    }

    .tag {
        padding: 4px 10px;
    }

    .product-card__price {
        gap: var(--spacing-8);
    }

    .product__grid {
        grid-template-columns: repeat(3, 1fr);
        gap: var(--spacing-16);
    }
}

/*========== Desktop ==========*/

@media (min-width: 1200px) {
    /*========== Product card ==========*/
    .product-card__image-wrapper {
        margin-bottom: var(--spacing-16);
    }

    .product-card__image-wrapper img {
        height: 232px;
    }

    .product-card__price {
        gap: var(--spacing-8);
    }

    .product__grid {
        grid-template-columns: repeat(4, 1fr);
        gap: 21px;
    }
}


