/*========== Promocode ==========*/

.promocode__form {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-8);
    margin-bottom: var(--spacing-40);
}

.promocode__input-group,
.checkout__input-group {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-8);
    width: 100%;
}

.promocode__input-group label,
.checkout__input-group label {
    font-size: var(--font-size-h5);
    color: var(--color-black-300);
    font-weight: var(--font-weight-medium);
    font-family: var(--font-primary);
}

.promocode__input-group input[type="text"],
.checkout__input-group input[type="text"] {
    padding: 16px 12px;
    border: 1px solid var(--color-black-100);
    border-radius: var(--border-radius-medium);
    background-color: var(--color-white-50);
    outline: none;
    width: 100%;
}

.promocode__input-group input[type="text"]::placeholder,
.checkout__input-group input[type="text"]::placeholder {
    color: var(--color-black-100);
    font-size: var(--input-font-size);
    font-weight: var(--font-weight-regular);
    transform: translateY(2px);
}

.promocode__input-group input[type="text"]:focus,
.checkout__input-group input[type="text"]:focus {
    border-color: var(--color-blue-500);
}

/*========== Checkout ==========*/
.checkout__form-row {
    display: flex;
    gap: var(--spacing-24);
    flex-direction: column;
}

.required {
    color: var(--color-feedback-error);
    vertical-align: text-top;
    position: relative;
    top: -0.2em;
}

/*========== Screen reader only ==========*/

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
    white-space: nowrap;
}

/*========== Form errors ==========*/

.form__error {
    display: flex;
    align-items: center;
    gap: var(--spacing-8);
    margin-top: var(--spacing-4);
    color: var(--color-feedback-error);
}

.form__error-icon {
    width: 18px;
    height: 18px;
    stroke-width: 1.5px;
    flex: none;
}

.form__error-message {
    font-size: 14px;
    font-family: var(--font-primary);
    font-weight: var(--font-weight-medium);
}

/*========== Tablet ==========*/

@media (min-width: 768px) {
    .checkout__form-row {
        flex-direction: row;
    }

}

/*========== Desktop ==========*/

@media (min-width: 1200px) {

  
}
