/*========== Navigation ==========*/

.site-header {
  width: 100%;
  position: relative;
}

.nav-absolute {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
}

#navbar-container {
  padding-top: var(--spacing-24);
  width: 100%;
}

.nav {
  margin-bottom: var(--spacing-40);
  height: var(--spacing-56);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  font-family: var(--font-primary);
}

.nav__brand {
  display: flex;
  align-items: center;
  gap: var(--spacing-16);
}

.nav__logo {
  width: 96px;
  height: auto;
  cursor: pointer;
  color: var(--color-white-500);
}

.nav__toggle {
  font-size: 24px;
  color: var(--color-white-500);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.nav__toggle svg {
  width: 24px;
  height: 24px;
  display: block;
}

.nav__menu {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100vh;
  background-color: var(--color-white-500);
  padding: 80px 36px 36px;
  transition: left var(--transition-medium);
  box-shadow: var(--overlay-shadow);
  z-index: 1000;
}

.nav__menu.show-menu {
  left: 0;
}

.nav__overlay,
.cart__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgb(0 0 0 / 50%);
  opacity: 0;
  visibility: hidden;
  transition: opacity var(--transition-medium), visibility var(--transition-medium);
  z-index: 999;
}

.nav__overlay.show-overlay,
.cart__overlay.show-overlay {
  opacity: 1;
  visibility: visible;
}

.nav__close,
.cart__close {
  position: absolute;
  top: var(--spacing-32);
  right: var(--spacing-32);
  font-size: 24px;
  color: var(--color-black-500);
  cursor: pointer;
  transition: color 0.3s ease;
}

.nav__close:hover,
.cart__close:hover {
  color: var(--color-blue-500);
}

.nav__list {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-32);
  list-style: none;
  align-items: flex-start;
  background-color: transparent;
  padding: 0;
  border-radius: 0;
}

.nav__actions {
  display: flex;
  align-items: center;
  gap: var(--spacing-16);
  list-style: none;
}

.nav__link {
  font-size: 24px;
  font-weight: var(--font-weight-semibold);
  text-decoration: none;
  color: var(--color-black-500);
  transition: all 0.3s ease;
  position: relative;
}

.nav__actions svg {
  color: var(--color-white-500);
  width: 20px;
  height: 20px;
}

.nav__link::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -4px;
  left: 50%;
  background-color: var(--color-blue-500);
  transition: all 0.3s ease;
  transform: translateX(-50%);
}

.nav__link:hover, .nav__actions svg:hover {
  color: var(--color-blue-500);
  transform: translateY(-2px);
}

.nav__link:hover::after {
  width: 100%;
}

/*========== Light Navbar Variant ==========*/

.nav--light .nav__logo {
    color: var(--color-blue-500);
}

.nav--light .nav__toggle,
.nav--light .nav__actions svg {
    color: var(--color-black-500);
}

.nav__link:hover, .nav__actions svg:hover {
  color: var(--color-blue-500);
  transform: translateY(-2px);
}

/*========== Active Link Style ==========*/

.nav__link--active,
.nav--light .nav__link--active svg {
  color: var(--color-blue-500);
}

/*========== Tablet ==========*/

@media (min-width: 768px) {
  #navbar-container {
    padding-top: var(--spacing-32);
  }

  .nav__logo {
    width: 110px;
  }

  .nav__menu {
    width: 50%;
  }

  .nav__actions svg {
    width: 22px;
    height: 22px;
  }
}

/*========== Desktop ==========*/

@media (min-width: 1200px) {
  .nav__logo {
    width: 125px;
  }

  .nav__toggle,
  .nav__close {
    display: none;
  }

  .nav__overlay {
    display: none;
  }

  .nav__menu {
    position: static;
    width: auto;
    height: auto;
    background-color: transparent;
    padding: 0;
    box-shadow: none;
    z-index: 800;
  }

  .nav__list {
    flex-direction: row;
    gap: var(--spacing-48);
    background-color: var(--color-white-500);
    padding: 18px var(--spacing-24);
    justify-content: center;
    align-items: center;
    border-radius: var(--spacing-40);
  }

  .nav__link {
    font-size: 16px;
  }
  
}