@import './variables.css';
@import './carousel.css';
@import './cards.css';
@import './cta.css';
@import './navbar.css';
@import './buttons.css';
@import './toasts.css';
@import './cart-menu.css';

/*========== Base ==========*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-secondary);
  background: var(--color-bg-light);
}


.page-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.page-wrapper main {
  flex: 1;
}

h1{
  font-size: var(--font-size-h1);
}

h2{
  font-size: var(--font-size-h2);
}

h3{
  font-size: var(--font-size-h3);
}

h4{
  font-size: var(--font-size-h4);
}

h5{
  font-size: var(--font-size-h5);
}

h6{
  font-size: var(--font-size-h6);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: var(--font-weight-semibold);
  font-family: var(--font-primary);
}

.image__grid h2,
.product__grid-section h2 {
  margin-bottom: var(--spacing-32);
}

.container {
  margin-left: 0;
  margin-right: 0;
  padding: 0 36px;
}

.relative {
    position: relative;
}

/*========== Loader ==========*/

/* Code from: https://cssloaders.github.io/ */
.product__loader {
  color: var(--color-blue-500);
  font-size: 45px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  transform: translateZ(0);
  animation: mltShdSpin 1.7s infinite ease, round 1.7s infinite ease;
  position: absolute;
  z-index: 1000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Ensure loader is centered in featuredGrid */
#featuredGrid {
  position: relative;
  min-height: 120px; /* Adjust as needed for your loader size */
}

#similarGrid {
  position: relative;
}

@keyframes mltShdSpin {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em,
    0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
    0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 
    0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 
    0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, 
    -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, 
    -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em,
     -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, 
     -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em,
     -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, 
     -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 
    0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}

@keyframes round {
  0% { transform: rotate(0deg) }
  100% { transform: rotate(360deg) }
}
 

/*========== Box ==========*/

.box{
  width: 100%;
  padding: var(--spacing-24);
  border-radius: var(--border-radius-large);
  background: var(--color-white-50);
  box-shadow: var(--shadow);
}

/*========== Back Link ==========*/

.page__back-link {
  display: inline-flex;
  align-items: center;
  gap: var(--spacing-8);
  margin-bottom: var(--spacing-24);
  color: var(--color-black-300);
  font-size: var(--input-font-size);
  font-weight: var(--font-weight-regular);
  text-decoration: none;
  transition: color 0.3s ease, transform 0.3s ease;
}

.page__back-link svg {
  width: 20px;
  height: 20px;
  stroke-width: 1.5px;
  transition: transform 0.3s ease;
}

.page__back-link:hover {
  color: var(--color-blue-500);
  transform: translateX(-4px);
}

.page__back-link:hover svg {
  transform: translateX(-2px);
}

/*========== Center Page ==========*/

.center-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/*========== Coming Soon ==========*/

.coming-soon__title {
  font-weight: var(--font-weight-semibold);
  margin-bottom: var(--spacing-8);
}

.coming-soon__subtitle {
  font-size: var(--font-size-paragraph-medium);
  margin-bottom: var(--spacing-32);
}

.button--back-home {
  margin-bottom: var(--spacing-80);
}

/*========== Footer ==========*/

footer {
  width: 100%;
  background-color: var(--color-black-500);
  padding: var(--spacing-80) 0;
  color: var(--color-white-500);
  position: relative;
  overflow: hidden;
}

footer section {
  overflow: hidden;
  position: relative;
}

.footer__top {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-80);
}

.footer__info {
  max-width: 300px;
}

.footer__logo {
  width: 96px;
  height: auto;
  color: var(--color-light-blue-500);
  margin-bottom: var(--spacing-16);
}

.footer__links-wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-64);
}

.footer__links-container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-16);
}

.footer__links  {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-16);
}

.footer__links a {
  text-decoration: none;
  color: var(--color-white-500);
  transition: all 0.3s ease;
  font-size: 16px;
  position: relative;
}

.footer__links a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -4px;
  left: 50%;
  background-color: var(--color-light-blue-500);
  transition: all 0.3s ease;
  transform: translateX(-50%);
}

.footer__links a:hover {
  color: var(--color-light-blue-500);
  transform: translateY(-2px);
}

.footer__links a:hover::after {
  width: 100%;
}

.footer__social-links {
  display: flex;
  gap: var(--spacing-8);
  flex-direction: row;
}

.footer__social-links a {
  width: 36px;
  height: 36px;
  border: 1px solid var(--color-light-blue-500);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border-color 0.3s ease;
  color: var(--color-light-blue-500);
  font-size: 16px;
}

footer .copyright {
  margin-top: var(--spacing-80);
  padding-bottom: 256px;
  color: var(--color-light-blue-500);
}

.footer__decoration {
  position: absolute;
  bottom: 0;
  right: 0;
}

/*========== Image grid ==========*/

.image__grid,
.product__grid-section {
  margin: var(--spacing-64) 0;
}

.image__grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 150px;
  gap: 10px;
}
    
.div1 {
  grid-column: span 3 / span 3;
  grid-row: span 3 / span 3;
  position: relative;
}

.image__grid-text {
  position: absolute;
  z-index: 10;
  top: 46px;
  left: 0;
  right: 0;
  text-align: center;
  width: 90%;
  margin: 0 auto;
}

.image__grid-text h3 {
  margin-bottom: var(--spacing-8);
}

.image__grid-text p {
  margin-bottom: var(--spacing-16);
  font-size: var(--font-size-paragraph-medium);
}

.div2 {
  grid-column: span 2 / span 2;
  grid-row-start: 4;
}

.div3 {
  grid-column-start: 3;
  grid-row-start: 4;
}

.div4 {
  grid-row-start: 5;
}

.div5 {
  grid-column: span 2 / span 2;
  grid-row-start: 5;
}

.image__grid-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}
      


/*========== Tablet ==========*/

@media (min-width: 768px) {
  .container {
    padding: 0 var(--spacing-48);
  }

  /*========= Carousel ==========*/

  .hero-carousel {
    height: 790px;
  }

  /*========== Footer ==========*/

  footer {
    padding-bottom: 0;
  }

  .footer__logo {
    width: 110px;
  }

  .footer__links-wrapper {
    flex-direction: row;
    gap: 130px;
  }

  .footer__social-links a {
    width: 44px;
    height: 44px;
    font-size: 20px;
  }

  footer .copyright {
    padding-bottom: 100px;
  }

  /*========== Image grid ==========*/

  .image__grid,
  .product__grid-section {
    margin: var(--spacing-80) 0;
  }

  .image__grid-container {
    grid-template-columns: 1fr 1fr 1.5fr 0.5fr 1.5fr;
    grid-auto-rows: 155px;
    gap: 18px;
  }
      
  .div1 {
    grid-column: span 2 / span 2;
    grid-row: span 4 / span 4;
  }

  .div2 {
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    grid-column-start: 3;
  }

  .div3 {
    grid-row: span 2 / span 2;
    grid-column-start: 5;
  }

  .div4 {
    grid-row: span 2 / span 2;
    grid-column-start: 3;
    grid-row-start: 3;
  }

  .div5 {
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    grid-column-start: 4;
    grid-row-start: 3;
  }

  .image__grid-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
  }

  .image__grid-text {
    width: 100%;
  }
}

/*========== Desktop ==========*/

@media (min-width: 1200px) {
  .container {
    padding: 0 108px;
  }

  /*========== Footer ==========*/

  .footer__top {
    flex-direction: row;
    justify-content: space-between;
  }

  .footer__logo {
    width: 125px;
  }

  footer .copyright {
    margin-top: 150px;
    padding-bottom: 38px;
  }
  /*========== Image grid ==========*/
  
  .image__grid,
  .product__grid-section {
    margin: var(--spacing-96) 0;
  }

  .image__grid-container {
    grid-template-columns: 0.7fr 0.7fr 1.1fr 0.8fr 1.1fr;
    gap: 26px;
  }

  .image__grid-text p {
    margin-bottom: var(--spacing-24);
  }
  
}