@import './variables.css';
@import './carousel.css';
@import './cards.css';
@import './cta.css';
@import './navbar.css';

/*========== Base ==========*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-secondary);
  background: var(--color-bg-light);
}

h1{
  font-size: var(--font-size-h1);
}

h2{
  font-size: var(--font-size-h2);
}

h3{
  font-size: var(--font-size-h3);
}

h4{
  font-size: var(--font-size-h4);
}

h5{
  font-size: var(--font-size-h5);
}

h6{
  font-size: var(--font-size-h6);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: var(--font-weight-semibold);
  font-family: var(--font-primary);
}

.image__grid h2,
.product__grid-section h2 {
  margin-bottom: var(--spacing-32);
}

.container {
  margin: 0 auto;
  padding: 0 36px;
}

/*========== Buttons ==========*/
.btn {
  display: inline-flex;
  padding: var(--spacing-4) var(--spacing-16);
  align-items: center;
  line-height: var(--spacing-24);
  gap: var(--spacing-8);
  border-radius: var(--border-radius-medium);
  font-size: var(--button-font-size-small);
  font-weight: var(--font-weight-semibold);
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.btn__full-width {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: var(--spacing-8);
}

.btn-primary {
  background: var(--color-blue-500);
  color: var(--color-white-500);
}

.btn__cta {
  padding: 12px 24px;
  background: var(--color-beige-500);
  color: var(--color-black-500);
  border: none;
  border-radius: var(--border-radius-medium);
  font-size: var(--button-font-size-small);
  font-weight: var(--font-weight-semibold);
  cursor: pointer;
  display: inline-block;
  letter-spacing: 0.3px;
}

/*========== Footer ==========*/

footer {
  width: 100%;
  background-color: var(--color-black-500);
  padding: var(--spacing-80) 0;
  color: var(--color-white-500);
  position: relative;
  overflow: hidden;
}

footer section {
  overflow: hidden;
  position: relative;
}

.footer__top {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-80);
}

.footer__info {
  max-width: 300px;
}

.footer__logo {
  width: 96px;
  height: auto;
  color: var(--color-light-blue-500);
  margin-bottom: var(--spacing-16);
}

.footer__links-wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-64);
}

.footer__links-container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-16);
}

.footer__links  {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-16);
}

.footer__links a {
  text-decoration: none;
  color: var(--color-white-500);
  transition: all 0.3s ease;
  font-size: 16px;
  position: relative;
}

.footer__links a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -4px;
  left: 50%;
  background-color: var(--color-light-blue-500);
  transition: all 0.3s ease;
  transform: translateX(-50%);
}

.footer__links a:hover {
  color: var(--color-light-blue-500);
  transform: translateY(-2px);
}

.footer__links a:hover::after {
  width: 100%;
}

.footer__social-links {
  display: flex;
  gap: var(--spacing-8);
  flex-direction: row;
}

.footer__social-links a {
  width: 36px;
  height: 36px;
  border: 1px solid var(--color-light-blue-500);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border-color 0.3s ease;
  color: var(--color-light-blue-500);
  font-size: 16px;
}

footer .copyright {
  margin-top: var(--spacing-80);
  padding-bottom: 256px;
  color: var(--color-light-blue-500);
}

.footer__decoration {
  position: absolute;
  bottom: 0;
  right: 0;
}

/*========== Image grid ==========*/

.image__grid,
.product__grid-section {
  margin: var(--spacing-64) 0;
}

.image__grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 150px;
  gap: 10px;
}
    
.div1 {
  grid-column: span 3 / span 3;
  grid-row: span 3 / span 3;
  position: relative;
}

.image__grid-text {
  position: absolute;
  z-index: 10;
  top: 46px;
  left: 0;
  right: 0;
  text-align: center;
}

.image__grid-text h3 {
  margin-bottom: var(--spacing-8);
}

.image__grid-text p {
  margin-bottom: var(--spacing-16);
  font-size: var(--font-size-paragraph-medium);
}

.div2 {
  grid-column: span 2 / span 2;
  grid-row-start: 4;
}

.div3 {
  grid-column-start: 3;
  grid-row-start: 4;
}

.div4 {
  grid-row-start: 5;
}

.div5 {
  grid-column: span 2 / span 2;
  grid-row-start: 5;
}

.image__grid-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}
      


/*========== Tablet ==========*/

@media (min-width: 768px) {
  .container {
    padding: 0 var(--spacing-48);
  }

  /*========== Buttons ==========*/

  .btn {
    padding: 6px 16px;
    font-size: var(--button-font-size-medium);
  }

  .hero-carousel {
    height: 790px;
  }

  footer {
    padding-bottom: 0;
  }

  .footer__logo {
    width: 110px;
  }

  .footer__links-wrapper {
    flex-direction: row;
    gap: 130px;
  }

  .footer__social-links a {
    width: 44px;
    height: 44px;
    font-size: 20px;
  }

  footer .copyright {
    padding-bottom: 100px;
  }

  /*========== Image grid ==========*/

  .image__grid,
  .product__grid-section {
    margin: var(--spacing-80) 0;
  }

  .image__grid-container {
    grid-template-columns: 1fr 1fr 1.5fr 0.5fr 1.5fr;
    grid-auto-rows: 155px;
    gap: 18px;
  }
      
  .div1 {
    grid-column: span 2 / span 2;
    grid-row: span 4 / span 4;
  }

  .div2 {
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    grid-column-start: 3;
  }

  .div3 {
    grid-row: span 2 / span 2;
    grid-column-start: 5;
  }

  .div4 {
    grid-row: span 2 / span 2;
    grid-column-start: 3;
    grid-row-start: 3;
  }

  .div5 {
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    grid-column-start: 4;
    grid-row-start: 3;
  }

  .image__grid-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
  }
}

/*========== Desktop ==========*/

@media (min-width: 1200px) {
  .container {
    padding: 0 108px;
  }

  /*========== Buttons ==========*/

  .btn {
    padding: 10px 16px;
    font-size: var(--button-font-size-large);
  }

  .footer__top {
    flex-direction: row;
    justify-content: space-between;
  }

  .footer__logo {
    width: 125px;
  }

  footer .copyright {
    margin-top: 150px;
    padding-bottom: 38px;
  }
  /*========== Image grid ==========*/
  
  .image__grid,
  .product__grid-section {
    margin: var(--spacing-96) 0;
  }

  .image__grid-container {
    grid-template-columns: 0.7fr 0.7fr 1.1fr 0.8fr 1.1fr;
    gap: 26px;
  }

  .image__grid-text p {
    margin-bottom: var(--spacing-24);
  }
  
}