@import './variables.css';

/*========== Base ==========*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-primary);
  padding-top: var(--spacing-24);
}

h1{
  font-size: var(--font-size-h1);
}

h2{
  font-size: var(--font-size-h2);
}

h3{
  font-size: var(--font-size-h3);
}

h4{
  font-size: var(--font-size-h4);
}

h5{
  font-size: var(--font-size-h5);
}

h6{
  font-size: var(--font-size-h6);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: var(--font-weight-semibold);
}

.container {
  margin: 0 auto;
  padding: 0 36px;
}

/*========== Navigation ==========*/

.header {
  width: 100%;
  background-color: var(--color-black-500);
  z-index: 999;
}

.nav {
  margin-bottom: var(--spacing-40);
  height: var(--spacing-56);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.nav__brand {
  display: flex;
  align-items: center;
  gap: var(--spacing-16);
}

.nav__logo {
  width: 96px;
  height: auto;
  cursor: pointer;
  color: var(--color-white-500);
}

.nav__toggle {
  font-size: 24px;
  color: var(--color-white-500);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1001;
}

.nav__toggle svg {
  width: 24px;
  height: 24px;
  display: block;
}

.nav__menu {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100vh;
  background-color: var(--color-white-500);
  padding: 80px 36px 36px;
  transition: left 0.4s;
  box-shadow: -2px 0 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.nav__menu.show-menu {
  left: 0;
}

.nav__close {
  position: absolute;
  top: 36px;
  right: 36px;
  font-size: 24px;
  color: var(--color-black-500);
  cursor: pointer;
}

.nav__list {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-32);
  list-style: none;
  align-items: flex-start;
  background-color: transparent;
  padding: 0;
  border-radius: 0;
}

.nav__actions {
  display: flex;
  align-items: center;
  gap: var(--spacing-16);
  list-style: none;
}

.nav__link {
  font-size: 24px;
  font-weight: var(--font-weight-semibold);
  text-decoration: none;
  color: var(--color-black-500);
  transition: all 0.3s ease;
  position: relative;
}

.nav__actions svg {
  color: var(--color-white-500);
  width: 20px;
  height: 20px;
}

.nav__link::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -4px;
  left: 50%;
  background-color: var(--color-blue-500);
  transition: all 0.3s ease;
  transform: translateX(-50%);
}

.nav__link--active {
  color: var(--color-blue-500);
}

.nav__link:hover, .nav__actions svg:hover {
  color: var(--color-blue-500);
  transform: translateY(-2px);
}

.nav__link:hover::after {
  width: 100%;
}

/*========== Footer ==========*/

footer {
  width: 100%;
  background-color: var(--color-black-500);
  padding: var(--spacing-80) 0;
  color: var(--color-white-500);
  position: relative;
  overflow: hidden;
}

footer section {
  overflow: hidden;
  position: relative;
}

.footer__top {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-80);
}

.footer__info {
  max-width: 300px;
}

.footer__logo {
  width: 96px;
  height: auto;
  color: var(--color-light-blue-500);
  margin-bottom: var(--spacing-16);
}

.footer__links-wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-64);
}

.footer__links-container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-16);
}

.footer__links  {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-16);
}

.footer__links a {
  text-decoration: none;
  color: var(--color-white-500);
  transition: all 0.3s ease;
  font-size: 16px;
  position: relative;
}

.footer__links a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -4px;
  left: 50%;
  background-color: var(--color-light-blue-500);
  transition: all 0.3s ease;
  transform: translateX(-50%);
}

.footer__links a:hover {
  color: var(--color-light-blue-500);
  transform: translateY(-2px);
}

.footer__links a:hover::after {
  width: 100%;
}

.footer__social-links {
  display: flex;
  gap: var(--spacing-8);
  flex-direction: row;
}

.footer__social-links a {
  width: 36px;
  height: 36px;
  border: 1px solid var(--color-light-blue-500);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border-color 0.3s ease;
  color: var(--color-light-blue-500);
  font-size: 16px;
}

footer .copyright {
  margin-top: var(--spacing-80);
  padding-bottom: 256px;
  color: var(--color-light-blue-500);
}

.footer__decoration {
  position: absolute;
  bottom: 0;
  right: 0;
}

/*========== Tablet ==========*/

@media (min-width: 768px) {
  body {
    padding-top: var(--spacing-32);
  }

  .container {
    padding: 0 var(--spacing-48);
  }

  .nav__logo {
    width: 110px;
  }

  .nav__menu {
    width: 60%;
  }

  .nav__actions svg {
    width: 22px;
    height: 22px;
  }

  footer {
    padding-bottom: 0;
  }

  .footer__logo {
    width: 110px;
  }

  .footer__links-wrapper {
    flex-direction: row;
    gap: 130px;
  }

  .footer__social-links a {
    width: 44px;
    height: 44px;
    font-size: 20px;
  }

  footer .copyright {
    padding-bottom: 100px;
  }
}

/*========== Desktop ==========*/

@media (min-width: 1200px) {
  .container {
    padding: 0 108px;
  }

  .nav__logo {
    width: 125px;
  }

  .nav__toggle,
  .nav__close {
    display: none;
  }

  .nav__menu {
    position: static;
    width: auto;
    height: auto;
    background-color: transparent;
    padding: 0;
    box-shadow: none;
  }

  .nav__list {
    flex-direction: row;
    gap: var(--spacing-48);
    background-color: var(--color-white-500);
    padding: 18px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
  }

  .nav__link {
    font-size: 16px;
  }

  .footer__top {
    flex-direction: row;
    justify-content: space-between;
  }

  .footer__logo {
    width: 125px;
  }

  footer .copyright {
    margin-top: 150px;
    padding-bottom: 38px;
  }
}

/*a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}*/
