:root {

    /* Primary color */
    --color-primary: #393BF4;
    /* --color-primary-hover: #646cff; */

    /* Secondary colors */
    --color-purple-500: #6637FF;

    --color-light-blue-500: #B9D6F2;
    --color-light-blue-100: #E9F2FB;

    --color-beige-500: #D1C6AD;
    --color-beige-100: #F1EDE6;

    /* Neutral Colors */
    --color-black-500: #051122;
    --color-white-500: #F5F7FA;

    /* Background colors */
    --color-bg-light: var(--color-white-500);
    --color-bg-dark: var(--color-black-500);
    --color-bg-beige: var(--color-beige-100);
    --color-bg-light-blue: var(--color-light-blue-100);

    /* Feedback colors */
    --color-feedback-success: #188038;
    --color-feedback-warning: #E37400;
    --color-feedback-error: #D93025;
    --color-feedback-info: #1A73E8;

    /* Typography */
    --font-primary: "Montserrat", sans-serif;
    --font-secondary: "Open Sans", sans-serif;

    /* Font weights */
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;

    /* Font sizes - Mobile first */
    --font-size-h1: 32px;
    --font-size-h2: 30px;
    --font-size-h3: 22px;
    --font-size-h4: 16px;
    --font-size-h5: 14px;
    --font-size-h6: 12px;

    --font-size-paragraph-large: 18px;
    --font-size-paragraph-medium: 16px;
    --font-size-paragraph-small: 14px;

    --font-size-label: 14px;

    --button-font-size-large: 20px;
    --button-font-size-medium: 16px;
    --button-font-size-small: 12px;

    --tag-font-size-large: 12px;
    --tag-font-size-small: 8px;

    /* Line heights */
    --line-height-tight: 1.2;     /* For headings */
    --line-height-normal: 1.5;    /* For body text */
    --line-height-relaxed: 1.75;  /* For larger paragraphs */

    /* Spacing */
    --spacing-0: 0px;
    --spacing-8: 8px;
    --spacing-16: 16px;
    --spacing-24: 24px;
    --spacing-32: 32px;
    --spacing-40: 40px;
    --spacing-48: 48px;
    --spacing-56: 56px;
    --spacing-64: 64px;
    --spacing-80: 80px;

    /* Border radius */
    --border-radius-small: 4px;
    --border-radius-medium: 8px;
    --border-radius-large: 12px;

    /* Transitions */
    --transition-fast: 0.2s;
    --transition-medium: 0.4s;
    --transition-slow: 0.6s;

    /*
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; */
}

/* Desktop font sizes */
@media (min-width: 768px) {
  :root {
    --font-size-h1: 64px;
    --font-size-h2: 50px;
    --font-size-h3: 40px;
    --font-size-h4: 20px;
    --font-size-h5: 16px;
    --font-size-h6: 14px;

    --font-size-paragraph-large: 28px;
    --font-size-paragraph-medium: 24px;
    --font-size-paragraph-small: 16px;

    --font-size-label: 16px;

    --button-font-size-large: 20px;
    --button-font-size-medium: 16px;
    --button-font-size-small: 12px;

    --tag-font-size-large: 16px;
    --tag-font-size-small: 12px;
  }
}
